@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap');
body{
    overflow-x: hidden;
    overflow-y: hidden;
    margin: auto;
    font-family: 'Tiro Bangla', sans-serif;
    background-color: lemonchiffon;
}

.container {
    width: 80%;  /* Adjust based on your design requirements */
    max-width: 1920px; /* Maximum width */
    aspect-ratio: 16 / 9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px solid #ccc; /* Optional, for visibility */
}
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    width: 78%;
    height: 50px;
    margin: auto;
}
.navbar>h2{
    margin: auto;
}
